:root {
	--header-height: 70px;
	--order-width: 350px;
	--border: 1px solid #aaa;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

.App {
	text-align: center;
	height: 100vh;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

header {
	height: var(--header-height);
	border-bottom: var(--border);
}

.menu-list-box {
	position: absolute;
	left: 0;
	height: calc(100vh - var(--header-height));
	width: calc(100vw - var(--order-width));
	overflow: auto;
}

.order-box {
	position: absolute;
	right: 0;
	height: calc(100vh - var(--header-height));
	width: var(--order-width);
	border-left: var(--border);
}

.menu-item {
	background-color: rgb(192, 231, 244);
	height: fit-content;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 5px 2px #ddd;
}

.img-box {
	position: relative;
	height: 250px;
	overflow: hidden;
	
}

.img-box img {
	position: absolute;
	overflow: hidden;
	width: 110%;
	bottom: -30%;
	left: 0;
}

.menu-item .text-box {
	padding: 20px;
}

.menu-item .price {
	font-size: 2rem;
}